body{
    font-family: 'Roboto', sans-serif;
    font-weight: 400; 
    --text-color:white;
    background: #232946;
}
.wrapper{
    max-inline-size: 500px;
    margin: auto;
}

nav h2{
    font-size: 14px;
    color: var(--text-color);
    margin-block-start:24px;

}



nav ol{
    margin-inline-start: -20px;
}

.Neuim-cont{
    margin-block-end: 40px;
}
.Neuim{
    padding-top: 12px;
    padding-left: 8px;
     border-radius: 8px;
    height: 35px;
    display: block;
    color: #B8C1EC ;
    width: 95%;
    text-decoration: none;
}

.Neuim:hover{
    background-color: black;
    color: white;
}

details summary{
    color: var(--text-color);
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    
}

.nav-subtitle{
    font-weight: 700;
    font-size: 14px;
}
details{
    margin-block-start: 24px;
    color: var(--text-color);
}


details ol{
    margin-block-end: 24px;
}

details li::marker{
    color:  #B8C1EC;
}
details li a{
    display: block;
    text-decoration: none;
    color: #B8C1EC;
    margin-block-start: 16px;
}

details li a:hover{
   color: white;
}

.main{

}

.main.content{

}

.title{
    margin-block: 40px;
}

.title h1{
    color: var(--text-color);
    font-size: 32px;
    font-weight: 700;
}

.title p{
    font-size: 17px;
    color: #B8C1EC;
    line-height: 24px;
    font-family: 'Montserrat', sans-serif;
}

.content h2{
    font-size: 40px;
    font-weight: 700;
    color: var(--text-color);
}

.content h3{
    color: var(--text-color);
    font-size: 24px;
    font-weight: 600;
    margin-block:16px;
}

.content p{ 
    color: #B8C1EC;
    font-size: 17px;
    line-height: 24px;
    font-family: 'Montserrat', sans-serif;
}

.content img{
    margin-block-start: 40px;
    width:40px;
}

.content blockquote{
    background: #D4939D;
    padding: 20px;
    margin: 0;
    width: 90%;
    border-radius: 10px;
    margin-block-end: 40px;

}

.content blockquote p{
    font-family: 'Montserrat', sans-serif;
    line-height: 32px;
    font-size: 16px;
    color: #232946;
}

.content blockquote p span{
    color: #232946;
}

.content blockquote p span::before{
    content: "- ";    
}


.content .img-2{
    width: 100%;
}

pre{
    overflow: scroll;
    width: 100%;
    color: var(--text-color);
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    
}

.content ol, .content ul{
    padding: 0;
    color: #B8C1EC;
    font-family: 'Montserrat', sans-serif;
}

.content ol li, .content ul li{
    margin-block-start: 16px;
    margin-inline-start: 13px;
}

.content ul li::marker{
    color: #FFFFFE;
}


.slider-container{
    display: block;
    overflow: scroll;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.slider-slide{
    width: 10px;
}

.video{
    display: inline-block;
    aspect-ratio: 16/9;
    height: auto;
    width: 100%;
}

.slider-bullet-list{
    height: 10px;
    width: 100%;
    text-align: center;
}

.slider-bullet{
    display: inline-block;
    background-color: #42424233;
    height: 16px;
    width: 16px;
    border-radius: 10px;
}

.slider-bullet:hover{
    background-color:#FFFFFE ;

    transition: .3s ease-in;
}

.section-content{

}


.section-content p{
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.section-content p a{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-style: none;
}

.section-content h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px;
    font-weight: 400;
    color: white;
}

.form{

}

.form input{
    display: inline-block;
    width: 90%;
    border: 1px solid white;
    padding: 10px;
    background: #232946;
    border-radius: 10px;
    color: white;
    margin-block-end: 24px;
    height: 24px;
    font-family: 'Montserrat', sans-serif;
}

.form ::-webkit-input-placeholder{
    color: white;
}

.form input[type="submit"]{
    color: black;
    background-color: #EEBBC3;
    height: 48px;
    width: 95%;
}

@media screen and (min-width:650px){
    .wrapper{
        max-inline-size: 636px;
    }

    .form input[type="submit"]{
        width: 93%;
    }

    .title h1{
        font-weight: 700;
        font-size: 64px;
    }

    .title p{
        font-size: 17px;
        
    }
    .content h2{
        font-size: 40px;
    }

    .content h3{
        font-size: 32px;
        font-weight: 600;    

    }

    .content p{
        font-size: 17px;
    }

    .content blockquote p{
        font-size: 24px;
    }

    .section-content h2{
        font-size: 24px;
    }
}

@media screen and (min-width:900px){
    .wrapper{
        max-inline-size: 800px;
    }

    .Neuim{
        width: 40%;
    }
}
@media screen and (min-width:1366px){


   .header{
    position: sticky;
    inset-block-start:120px ;
   }

   .header-content{
       position: relative; 
        inset-block-start: -30px ;

   }

   header{
    position: absolute;
    inset-inline-start: -200px;
    inline-size: 306px;
}

.Neuim{
    width: 85%;
}

   .main-content{
    margin-block-start: 100px;
    margin-inline-start: 100px;
   }

}