*{
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
}

.wrapper{
    max-inline-size: 902px; 
    margin: auto;
}

.header-content{
    margin-inline-start: -200px;
}
.title{
    margin-block-start: 80px;
    margin-block-end: 112px;
    margin-inline-start: 204px;
}

.title h1{
    font-size: 60px; 
   
}

.title p{
    margin-block: 36px 64px;
    font-size: 16px;
    
}


.subtitle{
    color: #616161;
    font-size: 14px;
}

.sub-marg{
    margin-inline-start: 200px;
}


.menu-cont{
    margin-inline-start: 200px;
    position: relative;
}

.left-border{
    position: absolute;
    width: 4px;
    height: 630px;
    background-color: #C4C4C4;
    left: -30px;
}

.summary{
    font-weight: 500;
}

.Neuim-cont{
    margin-inline-start: 200px;
    margin-block-end: 112px;
}


.nava{
    margin: 8px 0 8px 0 ;
    text-decoration: none;
    color: #616161;
    display: block;
    height: 40px;
    width: 280px;
    padding-top: 10px;
    padding-left: 10px;
 
    
}


.nava:hover {
    background-color: #000;
    color: white;
    border-radius: 10px;
  
}
/*Ending of navigation*/


.content{

}

.content h2{
    font-size: 32px;   
}


.content h3{
    font-size: 24px;   
}

.content img{
    height: 80px;
    width: 80px;
}
.cont-p{
    font-size: 16px;
    display: block;
    height: 18px;
    width: 966px;
    margin-block-end: 100px;
}


blockquote {
    font-size: 24px;
    color: #424242;
    width: 592px;
    height: 52px;
    margin: 0;
    margin-inline-start: 16px;
    position: relative;
}

blockquote p{
    margin-block-start: 16px;
    margin-inline-start: 8px;
    color: #616161;
}

.left-border-blockquote{
    width: 4px;
    height: 52px;
    position:absolute;
    background-color:#212121;
    left: -30px;
}

/*Ending of content #1*/

.content-2{

}

.content-2 h2{
    font-size: 32px;
    margin-block: 100px 40px;
    color: #212121;
}

.content-2 h3{
    margin-block: 40px 16px;
    color: #424242;
    font-size: 24px;
}

.content-2 p{
    margin: 0;
    margin-block-end: 16px;
    font-size: 16px;
    color: #424242;
    width: 966px;
}

pre{
    height: 465px;
    width: 966px;
    background-color: #E5E5E5;
    border-radius: 10px;
    color: #424242;
    font-size: 16px;
}

/*Ending of content #2*/

.content-3{
 
}

.content-3 h2{
    font-size: 32px;
}

.content-3 h3{
    margin-block-start: 40px;
    font-size: 24px;
    color: #424242;
}

.content-3 p{
     margin-block: 16px;
     color: #424242;
}

.content-3 ol, ul{
    margin-block: 40px;
}

.content-3 li{
    color: #424242;
    margin: 5px;
}

/*Ending of contect 3*/


.slider{

}

.slider-container{
    display:block;
  overflow: auto;
  scroll-behavior: smooth;
  white-space: nowrap;
  font-size: 0; max-inline-size: 902px;
}



.video{
    margin:0;
    display: inline-block;
    width: 100%;
    height: auto;
    aspect-ratio: 16/9;
     
}

.slider-bullet-list{
    text-align:center;
    margin-block-start: 10px;
    max-inline-size: 902px;
}

.slider-bullet{
    display: inline-block;
    inline-size: 15px;
    block-size: 15px;
    background: #42424220;
    border-radius: 50%;
}

.slider-bullet:hover{
    background-color: #424242;
}

.mailto{
    font-size: 16px;
    color: #424242;
    margin-block:40px;
}

.mailto a{
    font-weight: 500px;
    color: #424242;
    font-size: 16px;
}

.mailto a:hover{
    font-weight: 500px;
    color: #000;
    font-size: 30px;
    transition: 2s ease-out;
}

.form-cont{
   
}

.form-cont h2{
    color: #424242;
}

.form{
    position: relative;
}

.input{
    color: #424242;
    width: 248px;
    padding: 12px 16px;
    border-radius: 50px;
    border: 1px solid #424242;
    font-size: 16px;
    font-weight: 400;
}

.input:nth-of-type(2){
    margin-inline-start: 48px;
}

.submit{
    height: 46px;
    width: 120px;
    padding: 12px 16px;
    border-radius: 50px;
    font-size: 16px;
    background-color: #000;
    border: 1px solid #000;
    color: white;
    border: none;
    position: absolute;
    left: 512px;

}


@media screen and (max-width:1300px){
    .header-content{
        margin:auto;
    }

  
    .sub-marg{
        margin-inline-start: 50px;
    }
    .title h1{
        font-size:32px;
    }

    .content h2{
        
        font-size: 20px;
    }

    .content-2 h2{

        font-size: 20px;
    }

    .content-3 h2{
        font-size: 20px;
    }



    .title{
        margin-inline-start: 0px;
      
    }
    .Neuim-cont{
        margin-inline-start:50px;
        
    }
    .menu-cont{
        margin-inline-start:50px;

    }
   .left-border{
    left: -30px;
    
    }

    .left-border-blockquote{
        left: -30px;
    }

    .submit{
        left: 509px; 
    }
}



@media screen and (max-width:1100px){
 
    
    body{
        max-width:100%;
        
    }

    .header{
        max-width: 800px;
    }
    .wrapper{
        max-width: 800px;
    }
    


    header{
        width: 100%;
    }
    li{
        width: 100px;
        margin: 0px;
    }
    .title{
        width: 90%;
        margin: auto;
    }
    .main{
        margin: auto;
        max-width: 800px;
    }

    .main-content{
        max-width: 100%;
    }

  
    .cont-p{
        width: 100%;
    }

    blockquote{
        width: 100%;
        font-size: 20px;
    }
    .content,.content-2,.content-3, .section-content, .mailto,.form-cont{
        width: 100%;
        margin-inline-start: 25px;
    }

    .content-2 p{
        width: 100%;
    }

    .content-2 img{
        width: 100%;
    }

    pre{
        width: 100%;
        font-size: 14px;
    }

    .content-3 p{
        width: 100%;
    }

    .content-3 li{
        width: 100%;
    }

    .slider{
        max-width: 960;
        margin: 0;
    }
    .slider-container{
        max-width: 960;
    }

    .left-border{
        left: -30px;
        
        }
    
        .left-border-blockquote{
            left: -30px;
        }
    
        .input{
            
            width: 50%px;
        }

        .input:nth-of-type(2){
            margin-inline-start: 0;
            
        }
        .submit{
            left: 450px; 
        }
}

@media screen and (max-width:583px){
    .submit{
        left: 180px; 
    }
}
